<header>
  <div class="title">
    <h2>Instructions:</h2>
  </div>
  <ul>
    <li>
      <p>
        <span class="icon -max"></span>
        Click on an Image for full screen
      </p>
    </li>
    <li>
      <p>
        <span class="icon -copy"></span>
        Then right-click to <i>Copy</i> or <i>Download</i> the Image
      </p>
    </li>
  </ul>
</header>
<section></section>
