@import "neat-helpers";
// Neat Overrides

// Neat Breakpoints
$small-screen: em(480);
$medium-screen: em(640);
$large-screen: em(860);

$small-screen-down: new-breakpoint(max-width $small-screen 4);
$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

// Overrides Neat's default
$max-width: em(1024);

// Breakpoints
$mobile: new-breakpoint(max-width 500px 4);

$visual-grid-color: lighten(#FFF0E8, 3%);
