section {
  padding-top: 100px;
}
article {
  @include media($medium-screen) {
    @include span-columns(4);
    @include omega(3n);
  }
  text-align:center;
  cursor:pointer;
}
article:hover {
  transform: scale(1.1);
}
