body {
  margin: 0;
}
header {
  @include clearfix();
  background-color: $bg-color;
  padding-top: 50px;
  .title {
    @include span-columns(2);
    text-align: center;
  }
  ul {
    @include span-columns(10);
    list-style-type: none;
  }
  .icon {
    font-size: $icon-font-size;
    padding-right: 20px;
  }
}
section {
  padding-top: 20px;
}
article {
  background-color: white;
  @include media($medium-screen) {
    @include span-columns(6);
    @include omega(2n);
  }
  text-align:center;
  cursor:pointer;
}
article:hover {
  transform: scale(1.1);
}
