.links,body{margin:0}
canvas{cursor:pointer}
#imageLoader{display:none}
.links{position:absolute;list-style:none;width:120px;bottom:40px;right:20px;padding:0}
.links li a,.links p{font-smoothing:subpixel-antialiased;font-family:Dosis,sans-serif;text-transform:uppercase;padding:.25em 0;letter-spacing:2px;font-weight:200;display:block;width:100%;color:#000}
.links li{border-bottom:#222 1px solid;border-bottom:rgba(255,255,255,.1)1px solid}
.links p{text-align:center;font-size:10px;opacity:.6}
.links li a{transition:opacity .2s ease-out;text-align:right;font-size:12px;opacity:.4}
.links li a:hover{opacity:.8}
.links li .who:before{opacity:.5;content:'@';float:left}
.links li .source:before{opacity:.5;content:'{}';float:left}
.links li .blog:before{opacity:.5;content:'&';float:left}